@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;700;800&family=Noto+Serif+Armenian:wght@100;200;300;400;500;600;800&family=Sofia&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Noto Serif Armenian', serif;
    font-family: 'Sofia', cursive;
}
body {
	background-image:linear-gradient(  to bottom,  #e2c0e6b3, #5d2294b3,#891ce2b3,#210c47 );
}
section {
	position: relative;
	width:100%;
	height: 100%;
	padding: 20px;
}
.circle {
	position: relative;
	overflow: hidden;
}
.circle img {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.circle.circle1 {
	width: 300px;
	height: 300px;
	float: left;
	border-radius: 30%;
	margin: 20px;
	shape-outside: circle();
}
.circle.circle2 {
	width: 450px;
	height: 450px;
	float: right;
	border-radius: 50%;
	margin: 10px ;
	shape-outside: circle();
}
 
section h2{
	text-align: center;
	letter-spacing: 5px;
	color:blueviolet;
	font-size:5em;
	margin-top: auto;
	 margin-bottom: 1px; 
	text-shadow: 0 0 10px black,
	             0 0 40px black;
}
section p{
	color:rgb(213, 187, 238);
	font-size: 17px;
}

button:hover {
	transform: scale(1.1);
	background: blueviolet;
	color:aliceblue;
	
	 
}