*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/* display: flex;
	justify-content: center;
	align-items: center; */
	height: 90vh;
	background-color: #131313;
	padding-top: 20px;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #ce0ce7;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 2px;
	color:#fff;
	margin: 60px 150px;
	-webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
	transition: 0.5s;
	transition-delay: 0s;
}
.container a:hover {
	transition-delay: 1.5s;
	color:#000;
	box-shadow: 0 0 10px #ce0ce7,
	            0 0 20px #ce0ce7,
	            0 0 40px #ce0ce7,
	            0 0 80px #ce0ce7,
	            0 0 160px #ce0ce7;
}
.container a span {
	position: relative;
	z-index: 100;
}
.container a:nth-child(2) {
	filter: hue-rotate(24deg);
}
.container a::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #ce0ce7;
	box-shadow: 5px -8px 0 #ce0ce7,
	             5px 8px 0 #ce0ce7;
	 transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	 transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::before{
    width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0 0 #ce0ce7,
	             5px 0 0 #ce0ce7;
	 transition-delay: 0s,0.5s,1s,1s;
}

.container a::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #ce0ce7;
	box-shadow: -5px -8px 0 #ce0ce7,
	             -5px 8px 0 #ce0ce7;
	 transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	 transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::after{
    width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: -5px 0 0 #ce0ce7,
	             -5px 0 0 #ce0ce7;
	 transition-delay: 0s,0.5s,1s,1s;
}


 h1 {
	color:#dd65ec;
	text-align: center;
	letter-spacing: 15px;
	text-transform: uppercase;
	padding-bottom: 65px;
 }

 .gallery {
	width: 1000px;
	height: 250px;
	margin: 0 auto;

	position: relative;
	
 }

.gallery_photo {
	width: 250px;
	height: 250px;
	box-shadow: 0 20px 40px rgba(0,0,0,0.4);
	border-radius: 2px;

	position: absolute;
	z-index: 10;
	outline-offset: 20px;
	transition: all 0.2s;
}

.gallery_photo--1 {
   top: 0;
   left: 0;
}
.gallery_photo--2 {
	top: 0;
	right: 0;
	z-index: 1;
}
.gallery_photo--3 {
	top:40px;
	left: 20%;;
}
.gallery_photo--4 {
	top: 60px;
	left: 40%;
}
.gallery_photo--5 {
	top: 40px;
	left: 60%;
	z-index: 2;
}
.gallery_photo:hover {
	outline: 15px solid #ce0ce7;
	transform: scale(1.2) translateY(-20px);
	z-index: 20;
}
.gallery:hover  .gallery_photo:not(:hover) {
   transform: scale(0.9);
}

